- if @ad == 0
  = link_to 'https://egent.jp/?utm_source=appstimes&utm_medium=AppsTimes&utm_campaign=appstimes_promotion' do
    = image_tag 'https://s3-ap-northeast-1.amazonaws.com/appstimes-image/uploads/ad/egent.jpg'
- else
  = link_to 'https://www.togo-cafe.com/' do
    = image_tag 'https://s3-ap-northeast-1.amazonaws.com/appstimes-image/uploads/ad/togo.jpg'
