<% unless user_signed_in? %>
  <div class="mainview">
    <div class="top-logo">
      <%= image_tag "apst-logo.jpg" %>
    </div>
    <p style="font-weight: bold;">『AppsTimes』は、最新・人気のWEBサービス・プロダクトが集まるメディア。<br>
    自分が作ったプロダクト、好きなサービス、わくわくするサービスを共有しよう！</p>
  </div>
  </div>
<% end %>

<div class="container1">
  <div class="content clearfix">

    <div class="date">
      <h3>投稿されたサービス一覧</h3>
    </div>

  <div class="postsList clearfix">
    <%= render partial: "posts", locals: {posts: @posts, post: @post, likes: @likes, like: @like} %>
  </div>
  </div>
</div>
