<div class="container1">
  <div class="pryvacy-content clearfix">
    <h3 class="pryvacy">プライバシーポリシー</h3>
    <p>
      アドバンスパートナー株式会社（以下弊社）は、個人情報がプライバシーを構成する重要な情報であることを深く認識し、業務において個人情報を取り扱う場合には、個人情報に関する法令を遵守し、弊社に対する期待と信頼に応えて参ります。
    </p>


      <h4>1．個人情報の定義について</h4>
    <p>個人情報とは、以下の情報により特定の個人として識別できる、照合できるものをいいます。

      ・お名前、生年月日、性別、ご職業、お電話番号、ご住所、メールアドレス
      ・また、この情報のみでは識別できないが、他の情報と容易に照合することができ、それにより特定の個人を識別できるものを含みます。
    </p>

  <h4>2．個人情報の収集・利用目的</h4>
<p>
  個人情報を収集する際には、無断で収集・利用することはございません。弊社が個人情報を取得する利用目的は下記のとおりです。

・請求された資料、カタログをお届けするため
・各種イベント、カウンセリング、説明会をご利用される上で必要な確認やご案内のため
・より魅力的で、価値のある商品開発、改善やサービスを提供するため
・その他なんらかの理由で利用者の皆様と接触する必要が生じたときのため
</p>


<h4>3．個人情報の開示について</h4>
<p>個人情報は、下記のいずれかに該当する場合を除き、いかなる第三者にも開示いたしません。

・同意をいただいた場合
・資料の発送業務、その他、業務の履行に必要な場合。（一部業務を業務提携先に委託する場合には、弊社と同じ情報管理といたします）
・法律にもとづき必要と判断される場合
</p>


<h4>4．個人情報の管理について</h4>
<p>
個人情報は、第三者がアクセスできない安全な環境下で管理しています。データの破壊、改ざん、漏洩等が起こらないように社内体制を整えております。
</p>


<h4>5．個人情報の照会・訂正・削除について</h4>
<p>
ご提供いただいた個人情報に関して、照会、訂正、削除を要望される場合は、弊社にご連絡下さい。個人情報漏洩防止の観点から、当該ご請求がご本人によるものであることが確認できた場合に限り、個人情報を開示、訂正、削除いたします。
</p>


<h4>6．広告の配信について</h4>
<p>
  弊社の運営するApps Times(以下、本サービス)は、Google及びGoogleのパートナーウェブサイト（第三者配信事業者）の提供する広告を設置しております。その広告配信にはCookieを使用し、当サイトを含めた過去のアクセス情報に基づいて広告を配信します。
DoubleClick Cookie を使用することにより、GoogleやGoogleのパートナーは当サービスや他のサイトへのアクセス情報に基づいて、適切な広告を当サイト上でお客様に表示することができます。
ユーザーは<a href="https://www.google.com/settings/u/0/ads/authenticated?hl=ja" style="color:#098476;">Googleアカウントの広告設定ページ</a>で、パーソナライズ広告の掲載に使用される DoubleClick Cookie を無効にできます。また <a href="https://www.aboutads.info/" style="color:#098476;">aboutads.info</a> にアクセスして頂き、パーソナライズ広告の掲載に使用される第三者配信事業者のCookieを無効にできます。
その他、Googleの提供する広告におけるCookieの取り扱いについての詳細は、<a href="https://www.google.co.jp/policies/technologies/ads/" style="color:#098476;">Googleのポリシーと規約ページ</a>をご覧ください。
</p>


<h4>7．免責事項</h4>
<p>
本サービスは､ユーザー自身の判断と責任において､以下の項目を承諾した上で利用するものとします。

・弊社は本サービスに起因してユーザーに生じるあらゆる損害について、一切の責任を負いません。
・弊社は、本サービスにおいて開示された情報及び同情報のリンク先が提供するサービス、ページの合法性、道徳性、著作権、情報の信頼性・正確性について一切責任を負いません。リンク先で生じたトラブルや、リンク先のコンテンツについて当社はいかなる義務や責任も負いません。また、弊社はリンク先のサービス・情報に現時点でアクセスできるか否かについて一切責任を負いません。
</p>

<h4>8．プライバシーポリシーの変更及び告知について</h4>
<p>
プライバシーポリシーの内容は、必要に応じて変更することがございます。
</p>

<h4>9．お問合せについて</h4>
<p>
個人情報やこのページの内容に関するお問合せを受付けます。
お問い合わせは<a href="http://advance-p.net/contact/" style="color:#098476;">こちら</a>よりお受けいたします。
</p>
  </div>
</div>
