  <div class="pc-head-banner ranking-page">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 【PC】TOP -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:970px;height:90px"
         data-ad-client="ca-pub-9870776519307971"
         data-ad-slot="9157678259"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="sp-head-banner container">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 【モバイル】TOP/カテゴリー/ランキング -->
    <ins class="adsbygoogle"
    style="display:inline-block;width:320px;height:50px"
    data-ad-client="ca-pub-9870776519307971"
    data-ad-slot="9628273935"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

<div class="container1 ranking-p">
  <div class="content clearfix">
    <% if user_signed_in? %>
      <div class="date clearfix">
        <h3 class="rank-header"><i class="fas fa-trophy"></i>Featured Apps
         <span class="describe">話題のサービスをお届け</span></h3>
      </div>

      <div class="rankPostsList clearfix">
        <%= render partial: "rank" , locals: {post: @post, rank: @rank, likes: @likes, like: @like} %>
      </div>

    <% else %>


      <div class="date clearfix">
        <h3 class="rank-header"><i class="fas fa-trophy"></i>Featured Apps
         <span class="describe">話題のサービスをお届け</span></h3>
      </div>

      <div class="rankPostsList clearfix">
        <%= render partial: "rank" , locals: {post: @post, rank: @rank, likes: @likes, like: @like} %>
      </div>
    <% end %>

  </div>
</div>
