/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  margin: 0 auto;
  background-color: #0B3861;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, body {
  margin: 0;
  font-size: 16px;

}


body {
  font-family: "Lato",  sans-serif;
  color:#434343;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:link {
  color: inherit;
}

a:hover {
  color: #99cccc;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  height:48px;
  margin: 0 auto;
  /*width: 80%;*/
  width: 70%;
}

footer {
  background-color: #242424;
  height: 100%;
  padding: 5px 0;
  -webkit-appearance: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

.info-box {
  width: 100%;
  font-size: 10px;
  color: #999;
  -webkit-appearance: none;
}

.info-box ul li {float: left;}

.info-box  {
  text-align: center;
}

.info-list {
  list-style: none;
  padding-right: 10px;
}

.copyright {
  display:block;
}

/*検索*/
.search {
  width: 33%;
  float: left;
  line-height: 50px;
}


/*ヘッダーロゴ*/
.atLogo {
  float: left;
  line-height: 45px;
  /*width: 33%;*/
  width:50%;
  /*text-align: center;*/
}



.logo-img {
  height: 30px;
  vertical-align: middle;
}

/*ヘッダーアクション*/

.userNav {
  /*width: 33%;*/
  line-height: 50px;
  width:50%;
  float: left;
  display: inline-flex;
  justify-content: flex-end;
  font-size: 12px;
}

.signIn {
  margin-right: 10px;
}

.signUp span {
  background-color: #4277EC;
  padding: 6px;
  border-radius: 3px;
}

.link-to-post {
  margin-right: 16px;
  display: block;
}

.postProduct {
    height: 32px;
    width: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #FFF;
    position: relative;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.4);
    top: 6px;
}


.fa-rocket {
  font-size: 24px;
}

.postProduct span {
  position: absolute;
  font-weight: bold;
  right: -2px;
  top: -2px;
}

.box-userImg1 {
  height: 32px;
  width: 32px;
  float: left;
  margin: 9px 10px 0 0;
}

.userImg {
  cursor :pointer;
  transition: all 0.5s;
  overflow: auto;
  }


.accshow {
  line-height: 30px;
}

.accshow a {
  display: block;
  color: #434343;
}

/*チェックは隠す*/
.accbox input {
    display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
    height: auto;
    background: #fff;
    opacity: 1;
    width: 200px;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow:0 2px 12px 0 rgba(0,0,0,.08);
    padding: 0 0 0 12px;
}

.mypage {
  font-size: 14px;
  color: #434343;
  padding: 4px 0px;
  border-bottom: 1px solid #d8d8d8;
  font-weight: 600;
}

.follow-at {
  margin: 10px 0;
}

.follow-at, .link-to-sns {
  padding: 4px 0;
}


.heading {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    color: #263238;
    text-align: center;
}

.link-to-sns {
  text-align: center;
}

.link-to-sns a {
  background: rgb(75, 171, 231);
  margin: 0 auto;
  border-radius: 3px;
  color: #fff;
  width: 115px;
}

.link-to-sns span {
  font-size: 12px;
  font-weight: 600;
}

.follow {
  padding: 0px 5px 0px 0px;
}

.logout {
  padding: 4px 0px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #d8d8d8;
}

.at-custom-mobile-bar {
  background: none !important;
  box-shadow: none!important;
  text-align: left !important;
  bottom: 20px !important;
}

.at-custom-mobile-bar .at-share-btn {
  margin-left: 7px;
}
