// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.destroy {
  float: right;
  font-size: 12px;
}

.destroy a {color: #434343;}

.commentSubmit {
  text-align: right;
}

form input[type="submit"].commentSubmit-btn {
  width: 12%;
  font-size:14px;
  height: 30px;
  padding: 0 13px;
  border-radius: 5px;
  margin: 0;
}

form textarea#userComment {
  padding: 0;
  margin: 5px 0 10px;
}
