#like-buttons {
  border: none;
  background-color: inherit;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

#like-buttons span{
  color: #434343;

}

.comments-count {
  font-size: 18px;
}

.fas.fa-heart {
  color:#FF0461 ;
}

.far.fa-heart {
  color: #FF0461 ;
}
