@media (max-width: 600px) {


//共通

  header{
  .header {
    width: 100%;

  .search {display: none;}
  .atLogo {width: 50%; height:100%;}
  .userNav {width: 50%;height:100%;
  .signUp {margin-right: 10px;}}
  .cssacc:checked + .accshow{
    position: absolute;
    right: 20px;
  }
}}


// post#index, user#show
  .container1 {
    width: 100%;
    padding: 70px 20px 20px 20px;
  .date h3 {
    font-size: 16px
  }
  .post {
    width: 100%;
  }

  .post-in {
    height: 370px;
  }
  .post-thumnail {
    height: 180px;
  }

//posts#show
  .main-container {
    width: 100%;
    margin: 0;
  }

  // .show-container1 {
  //   width: 100%;
  //   padding: 70px 20px 20px 20px;
  // }


  .service-header {
    padding: 10px 0;
  }
  .service-category {
    margin: 0 0 10px 0;
  }

  .service-thumnail {display: none;}

  .canvas img {
    width: 100%;
    height: auto;
  }

  form textarea {
    padding: 0;
  }

  .sub-content{
    padding: 0 15px;
    width: 100%;
  }



// user#show
  .user-header-content {
    height:auto;
    padding: 20px 0;}
  .user-image {
    width:100px;
    height: 100px;
    margin: 10px 105px;}
  .user-image-container {
    margin: 0;
  }
  .user-image img {margin: 0}
  .user-info {
    width:100%;
    text-align: center;
    margin: 0;}
  .user-edit {
    line-height: 0;
    text-align: center;
  }
  .edit-btn {
    display: block;
    margin: 4px 130px 0 130px;
    padding: 15px 8px;
  }

}


// posts#new, posts#create, post#edit
.contents.row {

.container2 {
  width: 100%;
  padding: 20px 0;
}}

}



