@media (max-width: 600px) {


//共通

  header{
  .header {
    width: 100%;

  .search {display: none;}
  .atLogo {width: 50%; height:100%; text-align: center;}
  .userNav {width: 50%;height:100%;
  .signUp {margin-right: 10px;}}
  .cssacc:checked + .accshow{
    position: absolute;
    right: 20px;
  }
}}


  .mainview {
    width: 100%;
    margin: 50px  0 10px 0;
    background-color: #99cccc;
    padding:60px 40px;
  }
  .mainview h1 {
    padding: 10px;
    font-size:24px;
    text-align: center;
  }

  .top-logo img {
    width: 100%;
  }

  .mainview p {
    font-size: 14px;
    text-align: center;
  }


// post#index, user#show
  .container1 {
    width: 100%;
    padding: 0px 0px 20px 0px;

  .date {
    margin-top: 70px;
  }

  .date h3, .fav h3 {
    font-size: 16px
  }
  .post {
    width: 100%;
  }

  .postsList {
    width: 100%;
  }

  .post-in {
    height: 370px;
  }

  .post-date {
    .category {
      padding: 4px 10px;
    }
  }

  .fas.fa-link {
    padding: 6px;
  }

  .post-thumnail {
    height: 180px;
  }

//posts#show

  .service-header {
    display: none;
  }

  .mobile-header-content {
    padding: 0 15px;
  }

  .header-info {
    margin: 0;
  }

  .main-container {
    width: 100%;
    margin: 20px 0 0 0;
  }

  // .show-container1 {
  //   width: 100%;
  //   padding: 70px 20px 20px 20px;
  // }


  .service-header {
    padding: 10px 0;
  }
  .service-category {
    margin: 0 0 10px 0;
  }

  .service-thumnail {display: none;}

  .canvas img {
    width: 100%;
    height: auto;
  }

  section {
    padding: 10px;
  }

  form textarea {
    padding: 0;
  }

  .sub-content{
    padding: 0 15px;
    width: 100%;
  }

  .ad-top {
    margin: 60px auto 10px auto;
  }

  .sideinfo {
    width: 65%;
  }

// user#show
  .user-header {
    padding: 0;
    margin-top: 50px;
  }
  .user-header-content {
    height:auto;
    padding: 20px 0;
    border-radius: 0px;
  }
  .user-image {
    width:100px;
    height: 100px;
    margin: 10px auto;
  }
  .user-image-container {
    margin: 0 auto;
    width: 100%;
  }
  .user-image img {margin: 0}
  .user-info {
    width:100%;
    text-align: center;
    margin: 0;
    padding: 0 20px;
  }

  .user-edit {
    line-height: 0;
    text-align: center;
    width: 100%;
  }
  .edit-btn {
    display: block;
    margin: 4px  146px 0;
    padding: 15px 8px;
  }



}


// posts#new, posts#create, post#edit
.contents.row {
  margin: 40px auto 0;

  .container2 {
    width: 100%;
    padding: 20px 0;
  }

  .container {
    .twitter-login {
      width: 100%;
    }
  }
}





}

@media (min-width: 1100px) {
  .mobile-header-content {display:none;}
}
