@media (max-width: 600px) {

//共通

  header{
  .header {
    width: 100%;

  .search {display: none;}
  .atLogo {width: 50%; height:100%; text-align: center;}
  .userNav {width: 50%;height:100%;
  .signUp {margin-right: 10px;}}
  .cssacc:checked + .accshow{
    position: absolute;
    right: 20px;
  }
}}

  .content {
    margin-top: 120px;
  }

  .content2 {
    margin-top: 100px;
  }

  .mainview {
    width: 100%;
    margin: 50px  0 10px 0;
    background-color: #99cccc;
    padding:60px 40px;
    margin-top: 90px;
  }
  .mainview h1 {
    padding: 10px;
    font-size:24px;
    text-align: center;
  }

  .top-logo img {
    width: 100%;
  }

  .mainview p {
    font-size: 14px;
    text-align: center;
  }


// post#index, user#show
  .container1 {
    width: 100%;
    padding: 0px 0px 20px 0px;

  .date {
  }

  .date h3, .fav h3 {
    font-size: 16px
  }
  .post {
    width: 100%;
  }

  .postsList {
    width: 100%;
  }

  .post-in {
    // height: 370px;
    height: auto;
  }

  .post-date {
    .category {
      padding: 4px 10px;
    }
  }

  .fas.fa-link {
    padding: 6px;
  }

  .post-thumnail {
    height: 180px;
  }

  .post-title {
    height:auto;
    padding: 7px 5px 3px 5px;
  }

  .post-subtitle {
    height: auto;
  }

// sp
  .sp-post-user-image, .sp-post-date, #sp-likes-count, .sp-comments-count {
   float: left;
  }

  .sp-likes-comments {
    float: right;
  }

  .sp-overview {
   padding: 0.5rem 1rem;
  }

  .sp-post-user-image {
    padding-top: 2px;
  }

  .post-user-image {
    height: 30px;
    width:30px;
    border-radius: 100%;
    margin-right: 0.5rem;
  }

  .sp-post-date {
    padding: 4px;
  }

  .sp-likes-comments {
    padding: 0 1rem
  }

  #sp-likes-count {
    padding: 4px 0.5rem 0 0.5rem;
  }

  .sp-comments-count {
    padding: 3px 0.5rem 0 0.5rem;
  }


  .sp-comments-count {
    font-size: 18px;
  }

  .post-date, .service-link, .overview {display: none;}

  #like-buttons {padding: 0px;}


//posts#show

  .service-header {
    display: none;
  }

  .mobile-header-content {
    padding: 0 15px;
  }

  .header-info {
    margin: 0;
  }

  .main-container {
    width: 100%;
    margin: 20px 0 0 0;
  }

  // .show-container1 {
  //   width: 100%;
  //   padding: 70px 20px 20px 20px;
  // }


  .service-header {
    padding: 10px 0;
  }
  .service-category {
    margin: 0 0 10px 0;
  }

  .service-thumnail {display: none;}

  .canvas img {
    width: 100%;
    height: auto;
  }

  section {
    padding: 10px;
  }

  form textarea {
    padding: 0;
  }

  .sub-content{
    padding: 0 15px;
    width: 100%;
  }

  .ad-top {
    margin: 60px auto 10px auto;
  }

  .sideinfo {
    width: 65%;
  }

// user#show
  .user-header {
    padding: 0;
    margin-top: 50px;
  }
  .user-header-content {
    height:auto;
    padding: 20px 0;
    border-radius: 0px;
  }
  .user-image {
    width:100px;
    height: 100px;
    margin: 10px auto;
  }
  .user-image-container {
    margin: 0 auto;
    width: 100%;
  }
  .user-image img {margin: 0}
  .user-info {
    width:100%;
    text-align: center;
    margin: 0;
    padding: 0 20px;
  }

  .user-edit {
    line-height: 0;
    text-align: center;
    width: 100%;
  }
  .edit-btn {
    display: block;
    margin: 4px  146px 0;
    padding: 15px 8px;
  }



}


// posts#new, posts#create, post#edit
.contents.row {
  margin: 40px auto 0;

  .container2 {
    width: 100%;
    padding: 20px 0;
  }

  .container {
    .twitter-login {
      width: 100%;
    }
  }
}





}

@media (min-width: 1100px) {
  .mobile-header-content, .sp-overview  {display:none;}

  .more {
    height: 30px;
    width: 30px;
  }

  .user-header-content {
    min-height: 140px;
  }

  .globalNav {
    display: none;
  }

}

/*globalNav*/

.globalNav_item {
  float: left;
  text-align: center;
}




.horizontal_scroll {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  line-height: 40px;
  border-top: 1px solid #d8d8d8;
  font-size: 14px;
  padding: 0 8px;
}

.globalNav_item {
  display: block;
  white-space: nowrap;
  padding: 0 8px;
}


.horizontal_scroll > li:not(:last-child) {
  margin-right: 2px; }

.horizontal_scroll > li:last-child {
  padding-right: 2px; }

.horizontal_scroll img {
  vertical-align: bottom; }

// Chrom, Safari
.horizontal_scroll{

    overflow-y:auto;
}
.horizontal_scroll::-webkit-scrollbar{
    display:none;
}

// IE, Edge
.horizontal_scroll{
    overflow-y:auto;
    -ms-overflow-style:none;
}

.at-icon {
    margin: 4px !important;
}

.at-icon-wrapper {
    height: 40px !important;
    width: 40px !important;
}












.p-footerBar--transparent {
  background: none;
  border-top: none;
  opacity: 0;
  -webkit-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
}

.p-footerBar--transparent.is-show {
  opacity: 1;

}

.u-displaySp {
  display: block;
}

.p-footerBar__inner {
  height: 60px;
  width: 100%;
  margin-bottom: 8.5vh
}

.p-articleAction.is-ios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.p-articleAction__share.p-articleAction__share--first {
  margin-left: 5px;

}

a.twitter-share-button, a.facebook-share-button, a.hatena-share-button, a.line-share-button {
  display: block;
  padding: 16px 6px;
}

.renewal-p-icon--footerBarTwitter, .renewal-p-icon--footerBarFacebook {
    width: 40px;
    height: 40px;
}

.renewal-p-icon--footerBarFacebook, .renewal-p-icon--footerBarHatena, .renewal-p-icon--footerBarLine {
  border-radius: 100px;
}


.sns_circle-twitter, .sns_circle-facebook, .sns_circle-hatena, .sns_circle-line {
    position:relative;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sns_circle-twitter a, .sns_circle-facebook a, .sns_circle-hatena a, .sns_circle-line a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-indent:-999px;
    color:#FFF;/* 文字の色 */
}

.sns_circle-twitter {
  background-color: #55acee;
}

.sns_circle-facebook {
  background-color: #3B5998;
}

.sns_circle-hatena {
  background-color: #008fde;
}

.sns_circle-line {
  background-color: #1dcd00;
}

.sns_circle-twitter span, .sns_circle-facebook span{
    position:absolute;
    padding:10px;
    font-size:20px;
    color:#FFF;/* 文字の色 */
}

.sns_circle-facebook span {
  padding: 8px 15px 10px 15px;
}

span.f-icon-twitter {
  padding: 8px 10px 0px 11px
}

.f-icon-hatebu {
    height: 40px;
    background: #fff;
    border-radius: 50%;
}
